# Keep the .gitignore alphabetical, with symbols coming before alpha-characters.
# Also, any full folders that should be ignored should come before specific
# files.

### Folders ###
.idea/

**/__pycache__/

bin/

env/

htmlcov/

lib/

### Files ###
.coverage
.DS_Store
data/.env
data/database.db
